.correct-answer{
    background-color: var(--green-200);

}
.wrong-answer{
    background-color: var(--red-400);
}
.result-body{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
}
.result-body .option:hover{
    transform: none;
}
.result-body .primary{ 
  margin-bottom: var(--spacing-3);

}