@import url('quizes/quizInstructions.css');

:root{
    --spacing-one:1rem;
    --spacing-2:2rem;
    --spacing-4:4rem;
    --spacing-6:6rem;
    --spacing-8:8rem;
    --spacing-10:10rem;
    --spacing-12:12rem;
    --spacing-14:14rem;

    --card-large:20rem;
}
body{
    background-color: var(--primary-400);
}

.header{
    align-items: center;
    display: flex;
    gap:var(--spacing-one);
    justify-content: space-between;
    margin: var(--spacing-2);

}
.header .header-left{
    display: flex;

}
.header .header-left a{
    color: var(--white);
}
.header .header-right{
    display: flex;
    gap:var(--spacing-one);

}
.header .profile-avatar{
    background-color: var(--white);
}

.headings{
    color: var(--white);
    text-align: center;

}
.nav-secondTabs{
    display: flex;
    gap:var(--spacing-one);
    justify-content: center;
    margin-top: var(--spacing-one);
}
.quiz-options{
    display: flex;
    gap:var(--spacing-one);
    justify-content: center;
    margin-top:var(--spacing-4);
}
.eg-card.card-two{
    box-shadow: 0 0 5px 5px var(--white);
    height: var(--card-large);
}
.eg-card.card-two:hover{
    transform: rotate(-5deg);
    transition:all 700ms ease;
} 