@import url('quizes/quizInstructions.css');

:root{
    --spacing-one:1rem;
    --spacing-two:2rem;
    --spacing-three:4rem;
    --spacing-four:6rem;
    --spacing-five:8rem;
    --spacing-six:10rem;
    --spacing-seven:12rem;
    --spacing-eight:14rem;

    --card-large:20rem;
}
body{
    background-color: var(--primary-400);
}

.header{
    align-items: center;
    display: flex;
    gap:var(--spacing-one);
    justify-content: space-between;
    margin: var(--spacing-two);

}
.header .header-left{
    display: flex;

}
.header .header-left a{
    color: var(--white);
}
.header .header-right{
    display: flex;
    gap:var(--spacing-one);

}
.header .profile-avatar{
    background-color: var(--white);
}

.headings{
    color: var(--white);
    text-align: center;

}
.nav-secondTabs{
    display: flex;
    gap:var(--spacing-one);
    justify-content: center;
    margin-top: var(--spacing-one);
}
.quiz-options{
    display: flex;
    gap:var(--spacing-one);
    justify-content: center;
    margin-top:var(--spacing-three);
}
.eg-card.card-two{
    box-shadow: 0 0 5px 5px var(--white);
    height: var(--card-large);
}
.eg-card.card-two:hover{
    transform: rotate(-5deg);
    transition:all 700ms ease;
} 